.custom-btn{
    cursor: pointer;
    
    display: flex;
    justify-content: center;
}

 button:disabled,
button[disabled]{
  color: #3f3f3f;
}

.text{
  font-weight: 500;
    position: relative;
    right:5px;
    bottom: 1px;
}

.color-blue{
  transition: 0.3s;
  display: flex;
  justify-content: flex-start;
  color: rgb(26,115,232);
  background: rgb(232,240,254);
  border-radius: 0px 30px 30px 0px;
  width: 200px;
}






